# Entornos virtuales de Python
venv/
env/
__pycache__/
*.pyc

# Variables de entorno y credenciales (¡CRÍTICO!)
.env

# Archivos descargados y bases de datos locales
pdfs_loteria/
*.pdf
*.db
*.sqlite3

# Configuraciones de editores
.vscode/
.idea/